#mainGrid {
    -fx-background-color: linear-gradient(to bottom right, rgb(252, 15, 192), rgb(11, 84, 254));
}

#title {
    -fx-pref-width: 400px;
    -fx-pref-height: 50px;
    -fx-alignment: CENTER;
    -fx-font-size: 34;
    -fx-font-weight: BOLD;
    -fx-text-fill: rgb(50, 50, 50);
}

#fieldDescription {
    -fx-pref-width: 400px;
    -fx-pref-height: 20px;
    -fx-font-size: 12;
    -fx-font-weight: BOLD;
    -fx-text-fill: rgb(50, 50, 50);
}

.text-field {
    -fx-pref-width: 400px;
    -fx-pref-height: 40px;
    -fx-font-size: 18;
    -fx-text-fill: rgb(50, 50, 50);
    -fx-border-width: 0px 0px 2px 0px;
    -fx-border-color: rgb(50, 50, 50);
    -fx-background-color: transparent;
    -fx-prompt-text-fill: rgb(50, 50, 50);;
}

#accountType {
    -fx-pref-width: 400px;
    -fx-pref-height: 40px;
    -fx-font-size: 18;
    -fx-font-weight: BOLD;
    -fx-text-fill: rgb(50, 50, 50);
    -fx-background-color: transparent;
}

#login, #register {
    -fx-pref-width: 195px;
    -fx-pref-height: 60px;
    -fx-font-size: 22;
    -fx-font-weight: BOLD;
    -fx-background-color: rgb(50, 50, 50);
    -fx-text-fill: rgb(240, 240, 240);
}

#login:hover, #register:hover {
    -fx-background-color: rgb(60, 60, 60);
}